.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }
  
  body {
    font-family: 'Bangers', cursive;
    background-color: rgb(6, 75, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/duke.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
h1 {
    padding-top: 200px;
    font-size: 300px;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    
}
main h2 {
    font-size: 100px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    animation: blinker 2s linear infinite;
    opacity: 1;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
  }
canvas {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 2s;
}

#touchdown {
    opacity: 0;
    transition: 2s;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:radial-gradient(rgb(85, 86, 185),rgb(12, 12, 209));
    padding: 30px 80px 20px 80px;
    color:darkgoldenrod;
    border-radius: 40px;
    box-shadow: 5px 10px #888888;;
    font-size: 100px;
    margin-top: 40px;
}
#touchdown h3 {
    font-size: 50px;
    margin-top: 20px;
}


#touchdown img {
    border-radius: 40px;
    margin-top: 40px;
    border: 3px solid black;

}

#gameover {
    opacity: 0;
    transition: 2s;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:radial-gradient(gray,darkred);
    width: 700;
    height: 620;
    padding: 30px 80px 20px 80px;
    color:darkgoldenrod;
    border-radius: 40px;
    box-shadow: 5px 10px #888888;;
    font-size: 100px;
    margin-top: 40px;
}
#gameover h3 {
    font-size: 50px;
    margin-top: 20px;
}


#gameover img {
    border-radius: 40px;
    margin-top: 40px;
    border: 3px solid black;
}

.repeat {
    padding: 15px;
    margin: 20px 0 10px 0;
    font-size: 20px;
    color: black;
    background: radial-gradient(darkgoldenrod,gray);
    border-radius: 40px;
}

.repeat:hover {
    cursor:pointer;
    border: 1px solid black;
}

.repeat:focus {
    border: 0;
}
.tryagain {
    padding: 15px;
    margin: 20px 0 10px 0;
    font-size: 20px;
    color: black;
    background: radial-gradient(darkgoldenrod,gray);
    border-radius: 40px;
}

.tryagain:hover {
    cursor:pointer;
    border: 1px solid black;
}

.tryagain:focus {
    border: 0;
}

#pause {
    opacity: 0;
    transition: 2s;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:radial-gradient(darkgoldenrod,rgb(12, 12, 209));
    padding: 30px 80px 20px 80px;
    color:darkgoldenrod;
    border-radius: 40px;
    box-shadow: 5px 10px #888888;;
    font-size: 100px;
    margin-top: 40px;
}
#pause h3 {
    font-size: 50px;
    margin-top: 20px;
}


#pause img {
    border-radius: 40px;
    margin-top: 40px;
    border: 3px solid black;

}

#home * {
    pointer-events: none;
}